.shivani{
    height: 100vh;
    width: 100%;
    border: 2px solid rgb(212, 240, 247);
    background-color: rgb(212, 240, 247);
    border-radius: 40px;
}

.box{
    height: 80px;
    width: 97%;
    display: flex;
    border: 2px solid blue;
    border-radius: 12px;
    margin: 20px;
    margin-right: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 106, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 100px;
}

#box h1{
    color: white;
    font-size: 28px;
    /* display: inline; */
    margin-left: 1px;
}

.box p{
    color: white;
    font-size: 18px;
    /* display: inline; */
    margin: 40px;
    padding: 0.5px;
    word-spacing: 20px;
}

.box i{
    font-size: 24px;
    letter-spacing: 5px;
}

.singh{
    height: 100vh;
    width: 100%;
    border: 2px solid rgb(212, 240, 247);
    background-color: rgb(212, 240, 247);
    border-radius: 40px;
}

.box1{
    height: 80px;
    width: 97%;
    display: flex;
    border: 2px solid blue;
    border-radius: 12px;
    margin: 20px;
    margin-right: 20px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 106, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-icon{
    height: 40px;
    width: 1000px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
}

.box1 i{
    font-size: 24px;
    margin-right: 0.1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-icon i{
    color: rgb(0, 106, 255);
    background-color: white;
    height: 30px;
    width: 50px;
    text-align: center;
    /* padding : 7px; */
    font-size: 27px;
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
    border-radius: 8px;
}

.mark-icon i{
    color: rgb(0, 106, 255);
    height: 30px;
    width: 50px;
    align-items: center;
    padding : 6px;
    font-size: 20px;
}

.shivi{
    padding-top: 20px;
    height: 240px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-size: 20px;
}

.mar-icon i{
    color: white;
    height: 30px;
    width: 50px;
    align-items: center;
    padding : 6px;
    font-size: 20px;
}

h2{
    color: rgb(42, 102, 215) ;
    font-size: 80px;
    margin-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color: rgb(250, 251, 253) ;
    font-size: 55px;
    border: 2px solid rgb(42, 102, 215);
    height: 100px;
    width: 800px;
    padding-top: 25px;
    text-align: center;
    background-color: rgb(42, 102, 215);
     margin-left: 17%;
     border-radius: 8px;
     text-transform: uppercase;
     font-weight: 600;
}




